{{>cornerBtn logged=true}}
<div class="cities">
        <h1>supporters from {{titleCity}} who need more cowbell:</h1>
    <div class="container">
        <div>
            {{#rows}}
                <h2 class="signerList">
                    {{#if url}}
                        <a class="link" href="{{url}}" target="_blank">{{first}} {{last}}</a>
                    {{else}}
                        <span>{{first}} {{last}}</span>
                    {{/if}}

                    {{#if age}}
                        <span>&nbsp; |&nbsp;  {{age}}</span>                    
                    {{/if}}                    
                </h2>
            {{/rows}}
        </div>
    </div>
</div>
