<div class="signers">
    <h1>who else signed my petition?</h1>
    <div class="container">
        <div>
            {{#rows}}
                <h2>{{first}} {{last}}</h2>
                {{!-- <h3>{{first}} {{last}} at {{created}}</h3> --}}
            {{/rows}}   
        </div>
    </div>
</div>
