<div class="signers">
    <h1>who else signed my petition?</h1>
    <div class="container">
        <div>
            {{#rows}}
                <h2>
                    {{#if url}}
                        <a href="{{url}}" target="blank">{{first}} {{last}}</a>
                    {{else}}
                        <span>{{first}} {{last}}</span>
                    {{/if}}

                    {{#if age}}
                        <span> | {{age}} |</span>                
                    {{/if}}

                    {{#if city}}
                        <a href="signerslist/{{city}}"> {{city}}</a>                
                    {{/if}}
                </h2>
            {{/rows}}
        </div>
    </div>
</div>
