<div class="signers">
    <h1>who else signed my petition?</h1>
    <div class="container">
        <div>
            {{#signers}}
                <h2>
                    {{#if url}}
                        <a href="{{url}}">{{first}} {{last}}</a>
                    {{else}}
                        <span>{{fisrt}} {{last}}</span>
                    {{/if}}

                    {{#if age}}
                        <span> | {{age}}</span>                
                    {{/if}}

                    {{#if city}}
                        <a href="{{city}}"> | {{city}}</a>                
                    {{/if}}
                </h2>
            {{/signers}}
        </div>
    </div>
</div>
