<div class="signers">
    <h1>who else signed my petition?</h1>
    <div class="container">
        <div>
            {{#signers}}
                {{#if url age city}}
                    <h2>
                    <a href="{{url}}">{{first}} {{last}} | </a><span>{{age}} | </span>
                    <a href="{{city}}">{{city}}</a>
                    </h2>
                {{else if url age}}
                    <h2>
                    <a href="{{url}}">{{first}} {{last}} | </a><span>{{age}}</span>                    
                    </h2>
                {{else if age}}
                    <h2>{{first}} {{last}} | {{age}}</h2>
                {{else if age city}}
                    <h2>
                    {{first}} {{last}} | {{age}} | <a href="{{city}}">{{city}}</a>
                    </h2>
                {{else if city}}
                    <h2>
                    {{first}} {{last}}                    
                    <a href="{{city}}">| {{city}}</a>
                    </h2>
                {{else if url city}}
                    <h2>
                    <a href="{{url}}">{{first}} {{last}} | </a>
                    <a href="{{city}}">{{city}}</a>
                    </h2>
                {{else}}
                    <h2>{{first}} {{last}}</h2>
                {{/if}}
            {{/signers}}            
        </div>
    </div>
</div>
