<div class="thankyou">
    {{#rows}}
    <p>
        {{!-- thank you, {{results.rows.[0].first}} {{results.rows.[0].last}}, for signing my petition! --}}
        thank you, {{first}} {{last}}, for signing my petition! 
    </p>
    {{/rows}}    
    <p>{{numberOfSigners}}</p>
    <div class="container">
        <p>want to see who else signed so far?</p>
        <p>click the button to find out...</p>
        <a href="/signerslist" id="listBtn">Signers List</a>
    </div>
</div>